

.scroll-bar-indicator {
  display: none;
}

.view {
  background: #3A3A4F !important;
}

.menu-content {
 
}

.menu-content {
  box-shadow: none !important;
}

/*.menu-content.menu-animated {
  -webkit-transition: -webkit-transform 300ms cubic-bezier(1, 1.71, 0.58, 1.11);
  transition: -webkit-transform 300ms cubic-bezier(1, 1.71, 0.58, 1.11);
  transition: transform 300ms cubic-bezier(1, 1.71, 0.58, 1.11);
  transition: transform 300ms cubic-bezier(1, 1.71, 0.58, 1.11), -webkit-transform 300ms cubic-bezier(1, 1.71, 0.58, 1.11);
}*/

.menu-open ion-side-menu .item.slide_effect:nth-of-type(1) i {
  -webkit-animation: menu_pop 0.17s 0.05s forwards !important;
          animation: menu_pop 0.17s 0.05s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(1) span {
  -webkit-animation: menu_pop 0.17s 0.15s forwards !important;
          animation: menu_pop 0.17s 0.15s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(2) i {
  -webkit-animation: menu_pop 0.17s 0.1s forwards !important;
          animation: menu_pop 0.17s 0.1s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(2) span {
  -webkit-animation: menu_pop 0.17s 0.2s forwards !important;
          animation: menu_pop 0.17s 0.2s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(3) i {
  -webkit-animation: menu_pop 0.17s 0.15s forwards !important;
          animation: menu_pop 0.17s 0.15s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(3) span {
  -webkit-animation: menu_pop 0.17s 0.25s forwards !important;
          animation: menu_pop 0.17s 0.25s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(4) i {
  -webkit-animation: menu_pop 0.17s 0.2s forwards !important;
          animation: menu_pop 0.17s 0.2s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(4) span {
  -webkit-animation: menu_pop 0.17s 0.3s forwards !important;
          animation: menu_pop 0.17s 0.3s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(5) i {
  -webkit-animation: menu_pop 0.17s 0.25s forwards !important;
          animation: menu_pop 0.17s 0.25s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(5) span {
  -webkit-animation: menu_pop 0.17s 0.35s forwards !important;
          animation: menu_pop 0.17s 0.35s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(6) i {
  -webkit-animation: menu_pop 0.17s 0.3s forwards !important;
          animation: menu_pop 0.17s 0.3s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(6) span {
  -webkit-animation: menu_pop 0.17s 0.4s forwards !important;
          animation: menu_pop 0.17s 0.4s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(7) i {
  -webkit-animation: menu_pop 0.17s 0.35s forwards !important;
          animation: menu_pop 0.17s 0.35s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(7) span {
  -webkit-animation: menu_pop 0.17s 0.45s forwards !important;
          animation: menu_pop 0.17s 0.45s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(8) i {
  -webkit-animation: menu_pop 0.17s 0.4s forwards !important;
          animation: menu_pop 0.17s 0.4s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(8) span {
  -webkit-animation: menu_pop 0.17s 0.5s forwards !important;
          animation: menu_pop 0.17s 0.5s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(9) i {
  -webkit-animation: menu_pop 0.17s 0.45s forwards !important;
          animation: menu_pop 0.17s 0.45s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(9) span {
  -webkit-animation: menu_pop 0.17s 0.55s forwards !important;
          animation: menu_pop 0.17s 0.55s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(10) i {
  -webkit-animation: menu_pop 0.17s 0.5s forwards !important;
          animation: menu_pop 0.17s 0.5s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(10) span {
  -webkit-animation: menu_pop 0.17s 0.6s forwards !important;
          animation: menu_pop 0.17s 0.6s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(11) i {
  -webkit-animation: menu_pop 0.17s 0.55s forwards !important;
          animation: menu_pop 0.17s 0.55s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(11) span {
  -webkit-animation: menu_pop 0.17s 0.65s forwards !important;
          animation: menu_pop 0.17s 0.65s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(12) i {
  -webkit-animation: menu_pop 0.17s 0.6s forwards !important;
          animation: menu_pop 0.17s 0.6s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(12) span {
  -webkit-animation: menu_pop 0.17s 0.7s forwards !important;
          animation: menu_pop 0.17s 0.7s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(13) i {
  -webkit-animation: menu_pop 0.17s 0.65s forwards !important;
          animation: menu_pop 0.17s 0.65s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(13) span {
  -webkit-animation: menu_pop 0.17s 0.75s forwards !important;
          animation: menu_pop 0.17s 0.75s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(14) i {
  -webkit-animation: menu_pop 0.17s 0.7s forwards !important;
          animation: menu_pop 0.17s 0.7s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(14) span {
  -webkit-animation: menu_pop 0.17s 0.8s forwards !important;
          animation: menu_pop 0.17s 0.8s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(15) i {
  -webkit-animation: menu_pop 0.17s 0.75s forwards !important;
          animation: menu_pop 0.17s 0.75s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(15) span {
  -webkit-animation: menu_pop 0.17s 0.85s forwards !important;
          animation: menu_pop 0.17s 0.85s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(16) i {
  -webkit-animation: menu_pop 0.17s 0.8s forwards !important;
          animation: menu_pop 0.17s 0.8s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(16) span {
  -webkit-animation: menu_pop 0.17s 0.9s forwards !important;
          animation: menu_pop 0.17s 0.9s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(17) i {
  -webkit-animation: menu_pop 0.17s 0.85s forwards !important;
          animation: menu_pop 0.17s 0.85s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(17) span {
  -webkit-animation: menu_pop 0.17s 0.95s forwards !important;
          animation: menu_pop 0.17s 0.95s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(18) i {
  -webkit-animation: menu_pop 0.17s 0.9s forwards !important;
          animation: menu_pop 0.17s 0.9s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(18) span {
  -webkit-animation: menu_pop 0.17s 1s forwards !important;
          animation: menu_pop 0.17s 1s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(19) i {
  -webkit-animation: menu_pop 0.17s 0.95s forwards !important;
          animation: menu_pop 0.17s 0.95s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(19) span {
  -webkit-animation: menu_pop 0.17s 1.05s forwards !important;
          animation: menu_pop 0.17s 1.05s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(20) i {
  -webkit-animation: menu_pop 0.17s 1s forwards !important;
          animation: menu_pop 0.17s 1s forwards !important;
}
.menu-open ion-side-menu .item.slide_effect:nth-of-type(20) span {
  -webkit-animation: menu_pop 0.17s 1.1s forwards !important;
          animation: menu_pop 0.17s 1.1s forwards !important;
}

.menu-open ion-side-menu .item.scale_effect:nth-of-type(1) {
  -webkit-animation: menu_scale 0.3s 0.0625s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.0625s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(2) {
  -webkit-animation: menu_scale 0.3s 0.125s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.125s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(3) {
  -webkit-animation: menu_scale 0.3s 0.1875s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.1875s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(4) {
  -webkit-animation: menu_scale 0.3s 0.25s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.25s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(5) {
  -webkit-animation: menu_scale 0.3s 0.3125s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.3125s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(6) {
  -webkit-animation: menu_scale 0.3s 0.375s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.375s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(7) {
  -webkit-animation: menu_scale 0.3s 0.4375s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.4375s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(8) {
  -webkit-animation: menu_scale 0.3s 0.5s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.5s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(9) {
  -webkit-animation: menu_scale 0.3s 0.5625s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.5625s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(10) {
  -webkit-animation: menu_scale 0.3s 0.625s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.625s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(11) {
  -webkit-animation: menu_scale 0.3s 0.6875s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.6875s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(12) {
  -webkit-animation: menu_scale 0.3s 0.75s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.75s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(13) {
  -webkit-animation: menu_scale 0.3s 0.8125s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.8125s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(14) {
  -webkit-animation: menu_scale 0.3s 0.875s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.875s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(15) {
  -webkit-animation: menu_scale 0.3s 0.9375s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 0.9375s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(16) {
  -webkit-animation: menu_scale 0.3s 1s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 1s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(17) {
  -webkit-animation: menu_scale 0.3s 1.0625s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 1.0625s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(18) {
  -webkit-animation: menu_scale 0.3s 1.125s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 1.125s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(19) {
  -webkit-animation: menu_scale 0.3s 1.1875s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 1.1875s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}
.menu-open ion-side-menu .item.scale_effect:nth-of-type(20) {
  -webkit-animation: menu_scale 0.3s 1.25s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
          animation: menu_scale 0.3s 1.25s cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
}

.menu-open ion-side-menu .item.slide_up:nth-of-type(1) {
  -webkit-animation: slide_up 0.4s 0.0625s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.0625s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(2) {
  -webkit-animation: slide_up 0.4s 0.125s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.125s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(3) {
  -webkit-animation: slide_up 0.4s 0.1875s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.1875s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(4) {
  -webkit-animation: slide_up 0.4s 0.25s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.25s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(5) {
  -webkit-animation: slide_up 0.4s 0.3125s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.3125s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(6) {
  -webkit-animation: slide_up 0.4s 0.375s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.375s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(7) {
  -webkit-animation: slide_up 0.4s 0.4375s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.4375s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(8) {
  -webkit-animation: slide_up 0.4s 0.5s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.5s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(9) {
  -webkit-animation: slide_up 0.4s 0.5625s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.5625s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(10) {
  -webkit-animation: slide_up 0.4s 0.625s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.625s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(11) {
  -webkit-animation: slide_up 0.4s 0.6875s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.6875s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(12) {
  -webkit-animation: slide_up 0.4s 0.75s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.75s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(13) {
  -webkit-animation: slide_up 0.4s 0.8125s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.8125s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(14) {
  -webkit-animation: slide_up 0.4s 0.875s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.875s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(15) {
  -webkit-animation: slide_up 0.4s 0.9375s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 0.9375s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(16) {
  -webkit-animation: slide_up 0.4s 1s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 1s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(17) {
  -webkit-animation: slide_up 0.4s 1.0625s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 1.0625s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(18) {
  -webkit-animation: slide_up 0.4s 1.125s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 1.125s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(19) {
  -webkit-animation: slide_up 0.4s 1.1875s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 1.1875s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}
.menu-open ion-side-menu .item.slide_up:nth-of-type(20) {
  -webkit-animation: slide_up 0.4s 1.25s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
          animation: slide_up 0.4s 1.25s cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
}

.menu-open ion-side-menu .item.wave:nth-of-type(1) {
  -webkit-animation: wave 0.8s 0.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(2) {
  -webkit-animation: wave 0.8s 0.125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(3) {
  -webkit-animation: wave 0.8s 0.1875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.1875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(4) {
  -webkit-animation: wave 0.8s 0.25s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.25s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(5) {
  -webkit-animation: wave 0.8s 0.3125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.3125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(6) {
  -webkit-animation: wave 0.8s 0.375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(7) {
  -webkit-animation: wave 0.8s 0.4375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.4375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(8) {
  -webkit-animation: wave 0.8s 0.5s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.5s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(9) {
  -webkit-animation: wave 0.8s 0.5625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.5625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(10) {
  -webkit-animation: wave 0.8s 0.625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(11) {
  -webkit-animation: wave 0.8s 0.6875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.6875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(12) {
  -webkit-animation: wave 0.8s 0.75s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.75s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(13) {
  -webkit-animation: wave 0.8s 0.8125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.8125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(14) {
  -webkit-animation: wave 0.8s 0.875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(15) {
  -webkit-animation: wave 0.8s 0.9375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 0.9375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(16) {
  -webkit-animation: wave 0.8s 1s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 1s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(17) {
  -webkit-animation: wave 0.8s 1.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 1.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(18) {
  -webkit-animation: wave 0.8s 1.125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 1.125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(19) {
  -webkit-animation: wave 0.8s 1.1875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 1.1875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.wave:nth-of-type(20) {
  -webkit-animation: wave 0.8s 1.25s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: wave 0.8s 1.25s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}

.menu-open ion-side-menu .item.drop_in:nth-of-type(1) {
  -webkit-animation: drop_in 0.5s 0.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(2) {
  -webkit-animation: drop_in 0.5s 0.125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(3) {
  -webkit-animation: drop_in 0.5s 0.1875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.1875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(4) {
  -webkit-animation: drop_in 0.5s 0.25s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.25s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(5) {
  -webkit-animation: drop_in 0.5s 0.3125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.3125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(6) {
  -webkit-animation: drop_in 0.5s 0.375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(7) {
  -webkit-animation: drop_in 0.5s 0.4375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.4375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(8) {
  -webkit-animation: drop_in 0.5s 0.5s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.5s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(9) {
  -webkit-animation: drop_in 0.5s 0.5625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.5625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(10) {
  -webkit-animation: drop_in 0.5s 0.625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(11) {
  -webkit-animation: drop_in 0.5s 0.6875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.6875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(12) {
  -webkit-animation: drop_in 0.5s 0.75s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.75s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(13) {
  -webkit-animation: drop_in 0.5s 0.8125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.8125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(14) {
  -webkit-animation: drop_in 0.5s 0.875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(15) {
  -webkit-animation: drop_in 0.5s 0.9375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 0.9375s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(16) {
  -webkit-animation: drop_in 0.5s 1s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 1s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(17) {
  -webkit-animation: drop_in 0.5s 1.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 1.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(18) {
  -webkit-animation: drop_in 0.5s 1.125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 1.125s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(19) {
  -webkit-animation: drop_in 0.5s 1.1875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 1.1875s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}
.menu-open ion-side-menu .item.drop_in:nth-of-type(20) {
  -webkit-animation: drop_in 0.5s 1.25s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
          animation: drop_in 0.5s 1.25s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}

.menu-open ion-side-menu .item.fade_effect:nth-of-type(1) i {
  -webkit-animation: menu_fade 0.2s 0.0625s forwards !important;
          animation: menu_fade 0.2s 0.0625s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(1) span {
  -webkit-animation: menu_fade 0.2s 0.0625s forwards !important;
          animation: menu_fade 0.2s 0.0625s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(2) i {
  -webkit-animation: menu_fade 0.2s 0.125s forwards !important;
          animation: menu_fade 0.2s 0.125s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(2) span {
  -webkit-animation: menu_fade 0.2s 0.125s forwards !important;
          animation: menu_fade 0.2s 0.125s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(3) i {
  -webkit-animation: menu_fade 0.2s 0.1875s forwards !important;
          animation: menu_fade 0.2s 0.1875s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(3) span {
  -webkit-animation: menu_fade 0.2s 0.1875s forwards !important;
          animation: menu_fade 0.2s 0.1875s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(4) i {
  -webkit-animation: menu_fade 0.2s 0.25s forwards !important;
          animation: menu_fade 0.2s 0.25s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(4) span {
  -webkit-animation: menu_fade 0.2s 0.25s forwards !important;
          animation: menu_fade 0.2s 0.25s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(5) i {
  -webkit-animation: menu_fade 0.2s 0.3125s forwards !important;
          animation: menu_fade 0.2s 0.3125s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(5) span {
  -webkit-animation: menu_fade 0.2s 0.3125s forwards !important;
          animation: menu_fade 0.2s 0.3125s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(6) i {
  -webkit-animation: menu_fade 0.2s 0.375s forwards !important;
          animation: menu_fade 0.2s 0.375s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(6) span {
  -webkit-animation: menu_fade 0.2s 0.375s forwards !important;
          animation: menu_fade 0.2s 0.375s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(7) i {
  -webkit-animation: menu_fade 0.2s 0.4375s forwards !important;
          animation: menu_fade 0.2s 0.4375s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(7) span {
  -webkit-animation: menu_fade 0.2s 0.4375s forwards !important;
          animation: menu_fade 0.2s 0.4375s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(8) i {
  -webkit-animation: menu_fade 0.2s 0.5s forwards !important;
          animation: menu_fade 0.2s 0.5s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(8) span {
  -webkit-animation: menu_fade 0.2s 0.5s forwards !important;
          animation: menu_fade 0.2s 0.5s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(9) i {
  -webkit-animation: menu_fade 0.2s 0.5625s forwards !important;
          animation: menu_fade 0.2s 0.5625s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(9) span {
  -webkit-animation: menu_fade 0.2s 0.5625s forwards !important;
          animation: menu_fade 0.2s 0.5625s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(10) i {
  -webkit-animation: menu_fade 0.2s 0.625s forwards !important;
          animation: menu_fade 0.2s 0.625s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(10) span {
  -webkit-animation: menu_fade 0.2s 0.625s forwards !important;
          animation: menu_fade 0.2s 0.625s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(11) i {
  -webkit-animation: menu_fade 0.2s 0.6875s forwards !important;
          animation: menu_fade 0.2s 0.6875s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(11) span {
  -webkit-animation: menu_fade 0.2s 0.6875s forwards !important;
          animation: menu_fade 0.2s 0.6875s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(12) i {
  -webkit-animation: menu_fade 0.2s 0.75s forwards !important;
          animation: menu_fade 0.2s 0.75s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(12) span {
  -webkit-animation: menu_fade 0.2s 0.75s forwards !important;
          animation: menu_fade 0.2s 0.75s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(13) i {
  -webkit-animation: menu_fade 0.2s 0.8125s forwards !important;
          animation: menu_fade 0.2s 0.8125s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(13) span {
  -webkit-animation: menu_fade 0.2s 0.8125s forwards !important;
          animation: menu_fade 0.2s 0.8125s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(14) i {
  -webkit-animation: menu_fade 0.2s 0.875s forwards !important;
          animation: menu_fade 0.2s 0.875s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(14) span {
  -webkit-animation: menu_fade 0.2s 0.875s forwards !important;
          animation: menu_fade 0.2s 0.875s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(15) i {
  -webkit-animation: menu_fade 0.2s 0.9375s forwards !important;
          animation: menu_fade 0.2s 0.9375s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(15) span {
  -webkit-animation: menu_fade 0.2s 0.9375s forwards !important;
          animation: menu_fade 0.2s 0.9375s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(16) i {
  -webkit-animation: menu_fade 0.2s 1s forwards !important;
          animation: menu_fade 0.2s 1s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(16) span {
  -webkit-animation: menu_fade 0.2s 1s forwards !important;
          animation: menu_fade 0.2s 1s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(17) i {
  -webkit-animation: menu_fade 0.2s 1.0625s forwards !important;
          animation: menu_fade 0.2s 1.0625s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(17) span {
  -webkit-animation: menu_fade 0.2s 1.0625s forwards !important;
          animation: menu_fade 0.2s 1.0625s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(18) i {
  -webkit-animation: menu_fade 0.2s 1.125s forwards !important;
          animation: menu_fade 0.2s 1.125s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(18) span {
  -webkit-animation: menu_fade 0.2s 1.125s forwards !important;
          animation: menu_fade 0.2s 1.125s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(19) i {
  -webkit-animation: menu_fade 0.2s 1.1875s forwards !important;
          animation: menu_fade 0.2s 1.1875s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(19) span {
  -webkit-animation: menu_fade 0.2s 1.1875s forwards !important;
          animation: menu_fade 0.2s 1.1875s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(20) i {
  -webkit-animation: menu_fade 0.2s 1.25s forwards !important;
          animation: menu_fade 0.2s 1.25s forwards !important;
}
.menu-open ion-side-menu .item.fade_effect:nth-of-type(20) span {
  -webkit-animation: menu_fade 0.2s 1.25s forwards !important;
          animation: menu_fade 0.2s 1.25s forwards !important;
}

.slide_up {
  top: 1000px;
}

.slide_up.item i {
  opacity: 1;
}

.slide_up.item span {
  opacity: 1;
}

.wave {
  top: 1000px;
}

.wave.item i {
  opacity: 1;
}

.wave.item span {
  opacity: 1;
}

.item.scale_effect {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.item.scale_effect i, .item.scale_effect span {
  opacity: 1;
}

.item.drop_in {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
}
.item.drop_in i, .item.drop_in span {
  opacity: 1;
}

@-webkit-keyframes menu_fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu_fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slide_up {
  from {
    top: 1000px;
  }
  to {
    top: 0px;
  }
}
@keyframes slide_up {
  from {
    top: 1000px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes wave {
  from {
    top: 1000px;
  }
  to {
    top: 0px;
  }
}
@keyframes wave {
  from {
    top: 1000px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes menu_pop {
  from {
    left: -10px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes menu_pop {
  from {
    left: -10px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes menu_scale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes menu_scale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes drop_in {
  from {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes drop_in {
  from {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
