<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <title>aceConnect</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/angular-chart.css">
    <link href="css/slidingTabs.min.css" rel="stylesheet"> 
<!--     <link href="css/easyIonicMenuTransitions.css" rel="stylesheet"> -->
    <link href="css/animate.css" rel="stylesheet">
    <link href="lib/ion-ripple/ion-ripple.css" rel="stylesheet">
    <!-- <link href="css/bootstrap.min.css"  rel="stylesheet"/> -->
    <link href="css/calendar.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/api-check/dist/api-check.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ion-ripple/ion-ripple.min.js"></script>
    <script src="js/calendar-tpls.min.js"></script>
    <!-- your app's js -->
    <script src="js/Chart.min.js"></script>
    <script src="js/angular-chart.min.js"></script>  
    <script src="js/slidingTabsDirective.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/Services.js"></script> 
    <script src="js/controllers/LoginCtrl.js"></script>
    <script src="js/controllers/AppCtrl.js"></script>
    <script src="js/controllers/DashboardCtrl.js"></script>
    <script src="js/controllers/DetailsCtrl.js"></script>
    <script src="js/controllers/StudentDetailsCtrl.js"></script>
</head>
<body ng-app="starter">
    <ion-nav-view></ion-nav-view>
    <script id="image-modal.html" type="text/ng-template">
        <div class="modal image-modal transparent">
 <i class="ion-ios-close-empty close" ng-click="closeModal()"></i>
 <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
   <ion-slide ng-repeat="h in Imagepop">
     <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"  zooming="true" class="zoom-pane" min-zoom="{{zoomMin}}" overflow-scroll="false" style="width: 100%; height: 100%"
     delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">
     <div class="image"  on-double-tap="onDoubleTap(activeSlide)" style="background-image: url({{uploadimg}}/{{h.ImageFile}})"></div>
   </ion-scroll>
 </ion-slide>
</ion-slide-box>
</div>
       <!--  <div class="modal image-modal transparent ">
        <i class="ion-ios-close-empty close" ng-click="closeModal()"></i> -->
       <!--      <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="myActiveSlide1">
                <ion-slide ng-repeat="h in Imagepop">
                    <img ng-src="{{uploadimg}}/{{h.ImageFile}}" class="full-image" />
                </ion-slide>
             </ion-slide-box> -->

             <!--  <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
   <ion-slide ng-repeat="h in Imagepop">
     <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"  zooming="true" class="zoom-pane" min-zoom="{{zoomMin}}" overflow-scroll="false" style="width: 100%; height: 100%"
     delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">
     <div class="image"  on-double-tap="onDoubleTap(activeSlide)" style="background-image: url({{uploadimg}}/{{h.ImageFile}})"></div>
   </ion-scroll>
 </ion-slide>
</ion-slide-box>
        </div> -->
    </script>
</body>
</html>
