<ion-view    has-header="false" hide-nav-bar="true" padding="true"  class="blurbg"    cache-view="false">
 <div class="circle1"></div>
 <div class="circle2"></div>
<ion-content  class="login" style="background-color:transparent;" >
<div class="hero no-header flat">
    <div class="content">
        <div class="app-icon">
            <img ng-src="img/logo.png" class="logo" />  
        </div>       
    </div>
</div> 
<div class="myForm" >
    <div class="im-wrapper">
        <div class="list"> 
          <label class="item item-input item-floating-label">
            <span class="input-label label">Parent ID</span>
            <input type="text" placeholder="Parent ID" class="nbor" ng-model="parentId" required autocomplete="off">
        </label>
        <i class="ion-ios-close-empty clearvalue" ng-click="clearvalue()" ng-show="parentId"></i>
        <label class="item item-input item-floating-label">
            <span class="input-label label">Password</span>
            <input type="{{inputType}}" placeholder="Password" class="nbor" ng-model="password" required autocomplete="off">
        </label> 
        <i class="ion-ios-eye-outline viewvalue" ng-click="view()" ng-show="password"></i>
    </div>
    <div class="padding center btn"> 
        <button ion-ripple type="button" class="button button-outline button-full button-royal" ng-click="login(parentId,password)">Login</button>
    </div>
</div>
</div>
<div class="center"><span class=" forgot" ng-click="reset()">Forgot password?</span></div>
<div class="foot ">&copy; Copyright 2016. All Rights Reserved.</div>
</ion-content>
</ion-view>