<div class="modal image-modal transparent">
 <i class="ion-ios-close-empty close" ng-click="closeModal()"></i>
 <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
   <ion-slide ng-repeat="image in otherimage">
     <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"  zooming="true" class="zoom-pane" min-zoom="{{zoomMin}}" overflow-scroll="false" style="width: 100%; height: 100%"
     delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">
     <div class="image"  on-double-tap="onDoubleTap(activeSlide)" style="background-image: url({{image}})"></div>
   </ion-scroll>
 </ion-slide>
</ion-slide-box>
</div>